@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    @apply bg-surface-900 text-gray-100 font-sans antialiased;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Remove Electron default text selection cursor */
    user-select: none;
  }

  input, textarea, select {
    user-select: text;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-500 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-brand-600;
  }
}
